body{
	margin:0;
}

.imgTaxi{
	background-image:url(../img/taxi.jpg);
	background-size:100%;
	background-position: bottom;
}

.container-card{/*cuadro amarillo sobre img taxi*/
	background-color: #F7B617;
	color:#FFF;

}
                        

.line1{
padding-right: 11%;
padding-left: 4%;	
}

.line2{
	padding-left: 11%;
}